.header {
  position: relative;
  font-size: 12px;
  box-sizing: border-box;
  z-index: 1;
}

@media (max-width: 1000px) {
  .header {
    position: relative;
    flex-direction: column;
    gap: 0;
    height: auto;
    margin: 0;
    background-color: #e6e6e6;
  }
}