.welcome {
  position: relative;
  /* width: 100%; */
  padding: 750px 0 183px 208px;
  font-family: "OpenSansLight", serif;
  z-index: 1;
}

@media (max-width: 2000px) {
  .welcome {
    padding: 510px 0 94px 116px;
  }
}

@media (max-width: 1400px) {
  .welcome {
    padding: 245px 0 72px 116px;
  }
}

@media (max-width: 1200px) {
  .welcome {
    margin-top: 67px;
    padding: 139px 0 52px 32px;
  }
}

@media (max-width: 700px) {
  .welcome {
    padding: 139px 0 60px 32px;
  }
}