.welcome {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 0 180px 208px;
  font-family: "OpenSansLight", serif;
  z-index: 1;
}

@media (max-width: 2000px) {
  .welcome {
    margin: 0 0 92px 118px;
  }
}

@media (max-width: 1400px) {
  .welcome {
    margin: 0 0 70px 116px;
  }
}

@media (max-width: 1000px) {
  .welcome {
    margin: 140px 0 65px 32px;
  }
}