.button-reserve { 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 139px;
  margin-top: 43px;
  padding: 0 0 5px 0;
  color: #FFF;
  border: none;
  background-color: #004890;
  background-image: url(../../../images/key.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  font-family: "OpenSansLight", serif;
  font-size: 24px;
  line-height: 25px;
  cursor: pointer;
  text-decoration: none;
}
  
.header .button-reserve_header {
    display: none;
  }

@media (max-width: 1400px) {
  .button-reserve {
     margin-top: 35px;
  }
}

@media (max-width: 1000px) {
  .header .button-reserve_header {
    position: absolute;
    top: 67px;
    left: 0;
    display: flex;
    justify-content: flex-start;
    height: 67px;
    margin: 0;
    padding: 0 37px 0;
     background-image: url(../../../images/key-320.svg);
    background-position: 5% 50%;
    background-size: 80% auto;
    font-size: 18px;
    z-index: 3;
  }
  .sidebar .button-reserve_sidebar {
    display: none;
  }
}