.photos__title {
  position: absolute;
  margin: 0;
  font-size: 31px;
  font-weight: 400;
  font-family: "OpenSansLight", serif;
}

.photos__link.cozy-rooms .photos__title {
  top: 51px;
  left: 854px;
} 

.photos__link.special-offers .photos__title {
  max-width: 200px;
  bottom: 55px;
  left: 58px;
  font-family: "OpenSansLight", serif;
} 

.photos__link.organization-events .photos__title {
  max-width: 200px;
  top: 50px;
  left: 70px;
} 

.photos__link.hotel-gallery .photos__title {
  max-width: 115px;
  top: 50px;
  left: 70px;
} 

.photos__link.services .photos__title {
  max-width: 110px;
  bottom: 40px;
  right: 65px;
} 

.photos__link.visit .photos__title {
  max-width: 200px;
  top: 235px;
  right: 296px;
} 

@media (max-width: 2000px) {
  .photos__link.cozy-rooms .photos__title {
    left: 73px;
    top: 320px;
  } 
  .photos__link.special-offers .photos__title {
    bottom: 45px;
    left: 72px;
  } 
  .photos__link.organization-events .photos__title {
    top: 37px;
    left: 58px;
  } 
  .photos__link.hotel-gallery .photos__title {
    top: 45px;
  } 
  .photos__link.services .photos__title {
    right: 60px;
  } 
  .photos__link.visit .photos__title {
    top: 168px;
    right: 95px;
  } 
}

@media (max-width: 1600px) {
  .photos__link.cozy-rooms .photos__title {
    top: 30px;
    left: 567px;
  } 
}

@media (max-width: 1400px) {
  .photos__link.cozy-rooms .photos__title {
    top: 30px;
    left: 567px;
  }
  .photos__link.special-offers .photos__title {
    bottom: 43px;
    left: 65px;
  }
  .photos__link.organization-events .photos__title {
    left: 75px;
  }
  .photos__link.services .photos__title {
    right: 50px;
    top: 45px;
  }
  .photos__link.visit .photos__title {
    top: 150px;
    right: 430px;
  }
}

@media (max-width: 1360px) {
  .photos__link.cozy-rooms .photos__title {
    top: 300px;
    left: 200px;
  }
  .photos__link.special-offers .photos__title {
    bottom: 43px;
    left: 65px;
  }
  .photos__link.organization-events .photos__title {
    left: 75px;
  }
  .photos__link.services .photos__title {
    right: 50px;
    top: 45px;
  }
  .photos__link.visit .photos__title {
    top: 150px;
    right: 430px;
  }
}